@charset "UTF-8";

@import "cores.css";
@import "reset.css";


@font-face {
    font-family: Barbie;
    src: url(fonts/Barbie.otf);
}
body{
    background-color: #f0ffff;
    font-family: Barbie;
}
ul{
    list-style: none;
    text-align: center;
}
ul li{
    padding: 10px 2px;
    display: inline-block;
    background-color: #463e34;
}
ul li :hover{
    background-color: #b9a285;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #8f7f3e;
    font-size: 20pt;
}
