@charset "UTF-8";

@import "cores.css";
@import "reset.css";


@font-face {
    font-family: Barbie;
    src: url(fonts/Barbie.otf);
}
body{
    background-color: #000000;
    font-family: Barbie;
}
.tituloPrincipal{
    text-align: center;
}
.tituloPrincipal span:nth-child(1){
    text-align: center;
    color: var(--azulzinho);
}
.tituloPrincipal span:nth-child(2){
    text-align: center;
    color: var(--amarelinho);
}
.tituloPrincipal span:nth-child(3){
    text-align: center;
    color: var(--azulzinho);
}
.tituloPrincipal span:nth-child(4){
    text-align: center;
    color: var(--amarelinho);
}
.tituloPrincipal span:nth-child(5){
    text-align: center;
    color: var(--azulzinho);
}
.tituloPrincipal span:nth-child(6){
    text-align: center;
    color: var(--amarelinho);
}
.tituloPrincipal span:nth-child(7){
    text-align: center;
    color: var(--azulzinho);
}
.tituloPrincipal span:nth-child(8){
    text-align: center;
    color: var(--amarelinho);
}
.tituloPrincipal span:nth-child(9){
    text-align: center;
    color: var(--azulzinho);
}

.tituloPrincipal span:nth-child(10){
    text-align: center;
    color: var(--amarelinho);
}
.tituloPrincipal span:nth-child(11){
    text-align: center;
    color: var(--azulzinho);
}
.tituloPrincipal span:nth-child(12){
    text-align: center;
    color: var(--amarelinho);
}

.tituloPrincipal span:nth-child(13){
    text-align: center;
    color: var(--azulzinho);
}
.tituloPrincipal span:nth-child(14){
    text-align: center;
    color: var(--amarelinho);
}
.img-banner {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color:var(--azulzinho);
}
.menu {
    text-align: center;
    margin: 20px 0;
}
.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 20px;
    border: 1px solid var(--CorPreta);
    background-color: var(--azulzinhozinho);
}

section {
    /* background-color: aquamarine; */
}

/* section section{
           font-size: 0;
        }    */
#turmas .sala {
    display: inline-block;
    vertical-align: top;
    background-color: var(--amarelinho);
    min-height: 300px;
    width: 100%;
    min-height: 350px;
    border: 2px solid var(--CorPreta);
    box-sizing: border-box;
}

#turmas footer {
    background-color: var(--rosinha);
}

#turmas footer h3 {
    font-size: smaller;
}

#turmas .sala.turma_A{
    background-color: var(--amarelinho);
    color: var(--CorPreta);
}

#turmas .sala.turma_B{
    background-color: var(--lilas);
}


.listaAlunos {
    list-style: decimal-leading-zero;
    margin-left: 30px;
}
.listaAlunos li {
    padding: 5px;
}
